Flask==2.2.3
flask-mongoengine
flask-jwt-extended
flask-migrate
mongoengine~=0.27.0
Werkzeug~=2.2.3
dnspython~=2.3.0
idna~=3.4
pip~=22.3.1
wheel~=0.38.4
Pillow~=9.4.0
Jinja2~=3.1.2
pymongo~=4.3.3
Mako~=1.2.4
MarkupSafe~=2.1.2
click~=8.1.3
itsdangerous~=2.1.2
setuptools~=65.5.1
WTForms~=3.0.1
python-dateutil~=2.8.2
PyJWT~=2.6.0
pandas~=1.5.3
requests~=2.28.2
cryptography~=40.0.2
google~=3.0.0
config~=0.5.1
certifi~=2022.12.7
packaging~=23.1
pyparsing~=3.0.9
Authlib~=1.2.0